:root{
    --primary-color: #702588;
    --secondary-color: #868686;
    --text-color: #141c14;
    --extra-color: #ecebdf;
    --content-color: #a06d90;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Tenor Sans", sans-serif;
    color: var(--text-color);
    text-align: justify;
}

header{
    background-color: var(--extra-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    background-image: url(../img/background-layout.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 0 15px;
}

.hero-img{
    background-image: linear-gradient(#0000007F, #0000007F);
    background-color: var(--secondary-color);
    width: 80%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--extra-color);
}

.cards-area{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.card-elem{
    border: var(--extra-color) solid 1px;
    border-radius: 10%;
    height: 250px;
    width: 250px;
    margin: 50px;
    background-color: var(--content-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.card-text{
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--text-color);
}

nav{
    padding: 3px;
    text-align: center;
    width: 100%;
    background-color: var(--content-color);
}

p{
    font-size: 20px;
}

.insta-tel{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

a{
    color: var(--text-color);
    text-decoration: none;
}

a:hover{
    background-color: var(--extra-color);
    color: var(--primary-color);
}

.nav-link{
    padding: 3px;
    color: var(--extra-color);
    font-size: 20px;
    margin: 20px;
    text-decoration: none;
}

.nav-link:hover{
    background-color: var(--primary-color);
    color: var(--extra-color);
}

img{
    width: 100%;
    height: 100%;
}

footer{
    text-align: center;
    text-justify: center;
}

.iframe-area{
    text-align: center;
    margin: 10px;
}

.iframe-area p{
    margin: 10px;
}

.about-section{
    text-align: center;
    width: 70%;
}

.about-section h1{
    margin-bottom: 10px;
}

.about-section p{
    margin-bottom: 20px;
}

.about-section h2{
    margin-bottom: 10px;
}

table{
    border: var(--text-color) solid 1px;
    border-collapse: collapse;
    text-align: center;
}

td{
    background-color: var(--extra-color);
    border: var(--text-color) solid 1px;
    padding: 5px;
}

th{
    background-color: var(--content-color);
    border: var(--text-color) solid 1px;
    padding: 5px;
}

