:root{
    --primary-color: #702588;
    --secondary-color: #868686;
    --text-color: #141c14;
    --extra-color: #ecebdf;
    --content-color: #a06d90;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Tenor Sans", sans-serif;
    color: var(--text-color);
    text-align: justify;
}

header{
    background-color: var(--extra-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    background-image: url(../img/background-layout.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0 15px;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

nav{
    padding: 3px;
    text-align: center;
    width: 100%;
    background-color: var(--content-color);
}

p{
    font-size: 20px;
}

.nav-link{
    padding: 3px;
    color: var(--extra-color);
    font-size: 20px;
    margin: 20px;
    text-decoration: none;
}

.nav-link:hover{
    background-color: var(--primary-color);
    color: var(--extra-color);
}

img{
    width: 100%;
    height: 100%;
}

footer{
    text-align: center;
    text-justify: center;
}
